node_modules
.next
out
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
asset-contact-sheet.jpg
mobile-home.png
desktop-city.png
new-assets-contact-sheet.jpg
mobile-redesign.png
desktop-redesign.png
